{% include "_header.html" %}

<main class="create-destination">

    <h1>Edit Destination</h1>

    <form mix-put="/api-update-destination/{{ destination.destination_pk }}" autocomplete="off">

        <div>
            <label for="destination_title">
                Title
            </label>
            <input id="destination_title" name="destination_title" type="text"
                value="{{ destination.destination_title }}" mix-validate="{{ x.REGEX_DESTINATION_TITLE }}">
        </div>

        <div>
            <label for="destination_country">
                Country
            </label>
            <input id="destination_country" name="destination_country" type="text"
                value="{{ destination.destination_country }}" mix-validate="{{ x.REGEX_DESTINATION_COUNTRY }}">
        </div>

        <div>
            <label for="destination_location">
                Location
            </label>
            <input id="destination_location" name="destination_location" type="text"
                value="{{ destination.destination_location }}" mix-validate="{{ x.REGEX_DESTINATION_LOCATION }}">
        </div>

        <div>
            <label for="destination_description">
                Description
            </label>
            <textarea id="destination_description" name="destination_description"
                mix-validate="{{ x.REGEX_DESTINATION_DESCRIPTION }}">{{ destination.destination_description }}</textarea>
        </div>

        <div>
            <label for="destination_date_from">
                Date from
            </label>
            <input id="destination_date_from" name="destination_date_from" type="date"
                value="{{ destination.destination_date_from }}" mix-validate="{{ x.REGEX_DESTINATION_DATE }}">
        </div>

        <div>
            <label for="destination_date_to">
                Date to
            </label>
            <input id="destination_date_to" name="destination_date_to" type="date"
                value="{{ destination.destination_date_to }}" mix-validate="{{ x.REGEX_DESTINATION_DATE }}">
        </div>

        <button>
            Update Destination
        </button>

        <button type="button" class="btn-delete"
            onclick="if(confirm('Are you sure you want to delete this destination?')) { this.nextElementSibling.click() }">
            Delete
        </button>

        <button type="button" class="mix-hidden" mix-delete="/api-delete-destination/{{ destination.destination_pk }}">
            Hidden delete
        </button>

    </form>

</main>

{% include "_footer.html" %}